.wish-card .from {
  text-transform: capitalize;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  color: aliceblue;
  font-weight: 400;
  font-size: clamp(.9rem, 2vw, 1rem);
}
.wish-card .to {
  text-transform: capitalize;
  /* position: absolute; */
  bottom: 0;
  right: 0;
  color: aliceblue;
  font-weight: 400;
  font-size: clamp(.9rem, 2vw, 1rem);
}
